set menu_color_normal=white/black

set default=0
set timeout=5 # seconds

# Fedora 43 Auto-install Entry
set entry_name="Fedora 43 (Auto-install)"
set linux_opts="splash=silent inst.stage2=http://10.0.0.1/f43/x86_64 inst.ks=http://10.0.0.1/f43/x86_64/ks.cfg ip=dhcp inst.nosave=all inst.sshd noshell"

# Fedora install entry
menuentry "${entry_name}" {
   echo "Loading ${entry_name}..."
   linux  /vmlinuz ${linux_opts}
   initrd /initrd.img
}

# System Control Entries
menuentry "Reboot" {
	echo "Rebooting..."
	reboot
}

menuentry "Shutdown" {
	echo "Shutting down..."
	halt
}

# For UEFI systems, allow direct access to the settings
if [ ${grub_platform} == "efi" ]; then
	menuentry 'UEFI Firmware Settings' --id 'uefi-firmware' {
		fwsetup
	}
fi